body{
    position: relative;
    width: 1440px;
    height: 7330px;
    overflow-x: hidden;

    background: rgb(250, 238, 221);
}

.header{
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 0px;
    top: 0px;
}

.navbar{
    position: absolute;
    width: 1020px;
    height: 128px;
    left: 210px;
    top: 26px;
}

.logo{
    position: absolute;
    width: 174px;
    height: 100px;
    top: 0px;
    left: 0px;
}

.nav-list{
    position: absolute;
    background-color: white;
    width: 1020px;
    height: 60px;
    top: 68px;
    left: 0px;
}

li{
    list-style: none;
}

a{
    position: absolute;
    text-decoration: none;
    width: 60px;
    height: 40px;
    top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* or 157% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;

    color: #000000;    
}

.home{
    left: 40px;
}

.news{
    left: 154px;
}

.contact{
    left: 249px;
}

.gallery{
    left: 354px;
}

.about{
    left: 454px;
}