body{
    position: relative;
    width: 1440px;
    height: 11253px;
    
    overflow-x: hidden;
    background: #FFFFFF;  
}

.head_main{
    position: absolute;
    height: 800px;
    left: 0%;
    right: 0%;
    top: 0px;    
}

.head_photo{
    position: absolute;
    height: 800px;
    left: 0%;
    right: 0%;
    top: 0px;
    border-radius: 0px;      
}